[Unit]
Description=Pangolin Whisper Web Interface systemd Service File
After=network.target

[Service]
Type=simple
User=pangolin
ExecStart=/usr/bin/node pangolin_server.js
WorkingDirectory=/home/pangolin/pangolin_web
Restart=on-failure
StandardOutput=journal

[Install]
WantedBy=multi-user.target
